.pres-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.pres-form {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pres-1 {
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.pres-2 {
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.pres-3 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid white;
    padding: 1rem;
}

.pres-long {
    height: 150px;
    width: 500px;
    resize: none;
    margin: 0.5rem;
    border-radius: 5px;
}

.pres-update {
    padding: 1rem;
    margin: 1rem;
}

.pres-delete {
    padding: 1rem;
    margin: 1rem;
}

.pres-2-input {
    border-radius: 5px;
    border: none;
}